---

---

<section class="relative" data-aos="fade-up" data-aos-duration="500">
    <div
        class="w-full max-w-5xl mx-auto flex items-center flex-col text-center"
    >
        <h1 class="text-3xl font-semibold my-2">kdeavila</h1>
        <p class="w-2/3 text-xl text-neutral-300 text-pretty">
            “Si debuggear es el proceso de remover errores de código entonces
            programar debe ser el proceso de ponerlos.”
        </p>

        <p class="text-lg mt-6 text-neutral-300">- Edsger Dijkstra</p>
    </div>
</section>
